.main-container{
    margin: 37px 0px;
}
.add{
    background-color: #8F2B2F;
    color: white;
    width: 48%;
    height:35px;
}
.wish{
    background-color: #373434;
    color: white;
    width: 50%;
    height:35px;
}
.bookbreif li{
    color: #878787;
}