<div class="main-container" fxLayoutAlign="center center" >

    <div class="image" fxLayout="column" fxLayoutAlign="start none"> 
        <img src=".\assets\login-signUp-Page\front-logo.png" class="logo">
        <h2 class="header">ONLINE BOOK SHOPPING</h2>
    </div>

        <div class="login-signUpBox">
            <mat-tab-group mat-align-tabs="start">
            <mat-tab label="LOGIN" ><app-login></app-login></mat-tab>
            <mat-tab label="SIGNUP"><app-sign-up></app-sign-up></mat-tab>
            </mat-tab-group>
        </div>
    </div>