<!-- <p>admin-signup works!</p> -->
<mat-card fxLayout="row" fxLayoutAlign="center center">
    <form [formGroup]="signUpForm" (ngSubmit)="submit()" id="signupForm" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">

        <div class="fullname">       
            <mat-label fxLayoutAlign="start">FullName</mat-label>
            <mat-form-field appearance="outline" class="content">
            <input matInput placeholder="" formControlName="fullName" class="formControl">
            <mat-error fxLayoutAlign="end">FullName required !</mat-error>
            </mat-form-field>
        </div>

        <div class="email">
            <mat-label fxLayoutAlign="start">Email Id</mat-label>
            <mat-form-field appearance="outline" class="content">
            <input type="email" matInput placeholder="" formControlName="email">
            <mat-error fxLayoutAlign="end">Email required !</mat-error>
            </mat-form-field>
        </div>
    
        <div class="password">
            <mat-label fxLayoutAlign="start">Password</mat-label>
            <mat-form-field appearance="outline" class="content">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="" formControlName="password">
            <mat-error fxLayoutAlign="end">Password Required !</mat-error>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" 
                [attr.aria-pressed]="hide" style="border:none; outline:none; background:none;">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            </mat-form-field>
        </div>

        <div class="mobileNumber">
            <mat-label fxLayoutAlign="start">Mobile Number</mat-label>
            <mat-form-field appearance="outline" class="content">
            <input matInput placeholder="" formControlName="mobileNumber">
            <mat-error fxLayoutAlign="end">Mobile Required !</mat-error>
            </mat-form-field>
        </div>
        <br>

        <div>
        <button type="submit" mat-flat-button style="background-color:#A03037; border:none; color:#FFFFFF; border-radius:3px;cursor:pointer" class="button">Signup</button>
        </div>

    </form>
</mat-card>
