.mat-card{

    width: 270px;
    height: 90px;
}

.image{
    width: 65px;
    height: 85px;
    opacity: 1;
    position: relative;
    top:5px;
    margin-left:36px;


}

.bookName{
    height:24px;
    width:167px;
}

.authorName{
    height:16px;
    width:76px;
}

.bodyBox{
    height:180px;
}

.placeOrder{
    // border: 1px solid red;
    width: 270px;
    height: 90px;
}

.inputBox{
    border: 1px solid #DBDBDB;
    height:24px;
    width:41px;

}

.circle{
    height:24px;
    width:24px;
}
.placebutton{
    
    width:151px;
    height:35px;
    border-radius:5px;
}
.customerAddress{
    width:512px;
}
.button1{
    width: 150px;
    height: 35px;
}.mat-card{

    width: 270px;
    height: 90px;
}

.image{
    width: 65px;
    height: 85px;
    opacity: 1;
    position: relative;
    top:5px;
    margin-left:36px;


}

.bookName{
    height:24px;
    width:167px;
}

.authorName{
    height:16px;
    width:76px;
}

.bodyBox{
    height:180px;
}

.placeOrder{
    // border: 1px solid red;
    width: 270px;
    height: 90px;
}

.inputBox{
    border: 1px solid #DBDBDB;
    height:24px;
    width:41px;

}

.circle{
    height:24px;
    width:24px;
}
.placebutton{
    
    width:151px;
    height:35px;
    border-radius:5px;
}
.customerAddress{
    width:512px;
}
.button1{
    width: 150px;
    height: 35px;
}

