<!-- <p>rating works!</p> -->
<div class="rate1" style="background-color: #E4E4E4;">

    <div class="rate-heading">
        <h4 style="padding-left: 2%;"><b>Over all rating</b></h4>
    </div>
   
   
            <div class="rate" style="  padding-left: 1%;" fxLayout.xs="column">
                <input type="radio" id="star5" name="rate" [(ngModel)]="value" value="5" />
                <label for="star5" title="Extremely Good">5 stars</label>
                <input type="radio" id="star4" name="rate" [(ngModel)]="value" value="4" />
                <label for="star4" title="Very Good">4 stars</label>
                <input type="radio" id="star3" name="rate" [(ngModel)]="value" value="3" />
                <label for="star3" title="Good">3 stars</label>
                <input type="radio" id="star2" name="rate" [(ngModel)]="value" value="2" />
                <label for="star2" title="Not Bad">2 stars</label>
                <input type="radio" id="star1" name="rate" [(ngModel)]="value" value="1" />
                <label for="star1" title="Bad">1 star</label>
            </div>


        <div class="write-review" width="100%" style="padding-left: 3%;" fxLayout.xs="column">
            <input type="text" placeholder="Write your review" [(ngModel)]="comment" style="background-color: white; padding-left: 5%;">
        </div>
    <div class="bottomButton" fxLayoutAlign="end" style="padding:3% 10% 5% 0; ">
        <button class="add-btn" mat-raised-button style="background:#3371B5;color:White;cursor:pointer;" (click)="feedback()">Submit</button>
    </div>


</div>

<div style="background-color:white;" fxLayout="column wrap" fxLayoutAlign="start start" fxLayoutGap="20px" *ngFor="let item of bookStoreArray">
    <div><b>User:</b>{{item.user_id.fullName}}<br />
    <b>Comment:</b>{{item.comment}}<br />
    <b>Rating:</b>{{item.rating}}<br />
</div>
